PORT=5000
MONGODB_URI=mongodb+srv://rifqihendrawan09:rifqihendrawan09@cluster0.ykjvx8q.mongodb.net/?appName=Cluster0
JWT_SECRET=8bda88c8a0828a544ea9fcddc41844e3191ebad0dcea696afe1d99f979e138ae
JWT_EXPIRE=7d
